[Unit]
Description=Run sysfs-resume script at startup
After=sysinit.target

[Service]
Type=oneshot
ExecStart=/projects/hardware-resource-sync/sysfs_resume.sh /projects/hardware-resource-sync/shell-scripts

[Install]
WantedBy=sysinit.target